extends base

block content
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Reset your password
      form.form.form--forgotpassword
        .form__group
          label.form__label(for='email') Email address
          input#email.form__input(type='email', placeholder='you@example.com', required)
    
        .form__group
          button.btn.btn--green Reset
        .form__group
          label.form__label(for='login') 
           a.form__forgotpassword(href='login') Login now